{% extends "layout.html" %}
{% block body %}
    <div>
    <form action="/addevent" method="post">
        Event Name: <input type="text" name="name"><br>
        Sponsor: <input type="text" name="sponsor"><br>
        Latitude: <input type="text" name="lat"><br>
        Longitude: <input type="text" name="long"><br>
        Time: <input type="text" name="time"><br>
        Entry Form: <input type="text" name="entry"><br>
        Event Description: <input type="text" name="more"><br>
        <input type="submit" value="Submit">
    </form>
    </div>
{% endblock %}